{
 "eslintIntegration": true,
 "tabWidth": 2,
 "useTabs": false,
 "printWidth": 200,
 "semi": false,
 "singleQuote": true,
 "jsxSingleQuote": false,
 "trailingComma": "none",
 "bracketSpacing": true,
 "jsxBracketSameLine": false,
 "arrowParens": "avoid",
 "insertPragma": false,
 "endOfLine": "auto",
 "HTMLWhitespaceSensitivity": "ignore"
}
