.headerBar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--header-h);
  background-color: var(--primary-background-color);
  box-shadow: var(--box-shadow);
  .logo {
    display: flex;
    font-size: 12px;
    align-items: flex-end;
    line-height: 12px;
    img {
      height: 26px;
      margin-right: 10px;
    }
  }
  .links {
    display: flex;
  }
  .search {
    display: flex;
    width: 220px;
  }
  .nav {
    .navList {
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: flex-end;
      .navItem {
        font-size: 12px;
        margin-right: 12px;
        color: var(--text-color);
        &:hover {
          color: var(--primary);
        }
        &.active {
          color: var(--primary);
        }
      }
    }
  }
}

@media (max-width: 719px) {
  .nav {
    display: none;
  }
}
