@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-color: #181818;
  --background-color: #f5f5f5;
  --box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
  --primary: #3eaf7c;
  --header-h: 64px;
  --footer-h: 72px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --text-color: #fff;
    --background-color: #e2e1e1;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  min-height: calc(100vh - var(--footer-h));
  padding-top: calc(var(--header-h) + 6px);
}
